@import url("./-disabled/popup__button-disabled.css");

.popup__button {
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  margin-top: 38px;
}

.popup__button:hover {
  color: #fff;
  background: rgba(0, 0, 0);
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 568px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }
}
